<ion-content class="padding" >
  <div class="list" >
      <div class="button-bar list-inset">
        <button class="button button-modal" ng-click="closeBookmarkModal()">Channels</button>
        <button class="button button-modal" ng-click="closeBookmarkModal()">Videos</button>
        <button class="button button-modal" ng-click="closeBookmarkModal()">Playlists</button>
        <button class="button button-modal" ng-click="closeBookmarkModal()">Back</button>
      </div>
    <div class="item item-divider">
      Channels
    </div>
    <a data-ng-repeat="item in results['channel']" class="item item-thumbnail-left" data-ng-click="launch(video.id, video.title)">
      <img data-ng-src="{{ item.thumbnail }}">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <p>{{item.description}}</p>
    </a>
    <div class="item item-divider">
      Playlists
    </div>
    <a data-ng-repeat="item in results['playlist']" class="item item-thumbnail-left" data-ng-click="launch(video.id, video.title)">
      <img data-ng-src="{{ item.thumbnail }}">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <p>{{item.description}}</p>
    </a>
    <div class="item item-divider">
      Videos
    </div>
    <a data-ng-repeat="item in results['video']" class="item item-thumbnail-left" data-ng-click="launch(item.id, item.title)">
      <img data-ng-src="{{ item.thumbnail }}">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <p>{{item.description}}</p>
    </a>
  </div>
</ion-content>