<ion-modal-view ng-controller="BookmarkCtrl">
    <ion-header-bar align-title="center" class="bar-light">
        <div class="buttons">
            <button class="button button-icon icon black">Edit</button>
        </div>
        <h1 class="title newPalm">Bookmarked</h1>

        <div class="buttons">
            <button ng-click="closeModal('bookmark')" class="button button-icon icon">Cancel</button>
        </div>
    </ion-header-bar>
    <style>
        .tab-large-add, .tab-large-remove {
            -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
            -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
            -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        }

        .tab-large, .tab-large-add.tab-large-add-active {
            width: 80%;
        }

        .tab-small {
            width: 10%;
        }

        .tab-video, .tab-channel, .tab-playlist {
            float: left;
            overflow: hidden;
            margin-top: 40px;
        }

        .tab-video h1, .tab-channel h1, .tab-playlist h1 {
            font-family: "Ubuntu";
            margin-left: 5px;
            margin-bottom: 0px;
            white-space: nowrap;
        }

        .tab-video {

        }

        .tab-channel {

        }

        .tab-playlist {

        }
    </style>
    <div class="row">
        <div ng-click="tabTo(0)" ng-class="tab[0].style" class="tab-video"><h1>Videos</h1></div>
        <div ng-click="tabTo(1)" ng-class="tab[1].style" class="tab-channel"><h1>Channels</h1></div>
        <div ng-click="tabTo(2)" ng-class="tab[2].style" class="tab-playlist"><h1>Playlists</h1></div>
    </div>
    <ion-content style="margin-top:45px">
        <div ng-show="tab[0].show" class="list" style="float:left; width:98%">

            <a class="item item-thumbnail-left" href="#">
                <img src="">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </a>
        </div>
        <div ng-show="tab[1].show" class="list card" style="float:left; width:98%">
            <div class="item item-avatar">
                <img src="">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>
        </div>
        <div ng-show="tab[2].show" class="list card" style="float:left; width:98%">
            <div class="item item-avatar">
                <img src="avatar.jpg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
