<ion-modal-view ng-controller="ChannelCtrl">
    <ion-header-bar align-title="center" class="bar-light">
        <div class="buttons">
            <button class="button button-icon icon black">Edit</button>
        </div>
        <h1 class="title newPalm">{{details.channel[0].title}}</h1>
        <div class="buttons">
            <button ng-click="closeModal('channel')" class="button button-icon icon">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader item tabs tabs-secondary" style="width:100%">
        <a ng-click="tabTo(0)" class="tab-item">Channel</a>
        <a ng-click="tabTo(1)" class="tab-item">Videos</a>
        <a ng-click="tabTo(2)" class="tab-item">Playlists</a>
        <a ng-click="tabTo(3)" class="tab-item">Featured</a>
    </ion-header-bar>
    <!-------------------------------------------------------------------------------->
    <ion-content style="top:92px" ng-show="tab==0">
        <img ng-src="{{details.channel[0].brandingSettings.image.bannerImageUrl}}">

        <div class="list card">
            <div class="item item-body">
                <img ng-src="{{details.channel[0].thumbnails.default.url}}" style="float:left; margin-right:10px">

                <p style="margin-top:0px">{{details.channel[0].description}}</p>

                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
        </div>
    </ion-content>
    <!-------------------------------------------------------------------------------->
    <ion-content style="top:92px" ng-show="tab==1">
        <ion-list>
            <a data-ng-repeat="item in details.channel[0].video" class="item item-thumbnail-left"
               ng-click="launch(item.id, item.title)">
                <img style="margin-top:6px" data-ng-src="{{item.snippet.thumbnails.default.url}}">

                <h2 style="margin-bottom:0">{{item.snippet.title}}</h2>

                <p style="margin-top:0; margin-bottom:0">{{item.snippet.channelTitle}}</p>

                <p style="margin-top:0">{{item.snippet.description}}</p>
            </a>
        </ion-list>
    </ion-content>
    <!-------------------------------------------------------------------------------->
    <ion-content style="top:92px" ng-show="tab==2">
        <ion-list>
            <a data-ng-repeat="item in details.channel[0].playlist" class="item item-thumbnail-left"
               data-ng-click="searchChannel(item.id)">
                <img data-ng-src="{{item.snippet.thumbnails.default.url}}">
                <h2>{{item.snippet.title}}</h2>
                <p>{{item.snippet.description}}</p>
            </a>
        </ion-list>
    </ion-content>
    <!-------------------------------------------------------------------------------->
    <ion-content style="top:92px" ng-show="tab==3">
        <ion-list>
            <a data-ng-repeat="item in details.channel[0].featured"
               class="item item-thumbnail-left" data-ng-click="searchChannel(item.id)">
                <img data-ng-src="{{item.snippet.thumbnails.default.url}}">
                <h2>{{item.snippet.title}}</h2>
                <p>{{item.snippet.description}}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-modal-view>
