<ion-content>
    <section class="columns small-9">
        <section ng-switch="followUpsExist">
            <section ng-switch-when="false">
                <div class="verticalCenter">
                    <h3>No Follow ups ...</h3>
                </div>
            </section>
            <section ng-switch-default>
                <div class="verticalCenter">
                </div>
            </section>
        </section>
    </section>
    <section class="columns small-3">
        <div class="verticalCenter">

        </div>
    </section>
</ion-content>