<ion-content [has-bouncing="true" ] style="background:white">
  <div style="background-color:black; width:100%">
    <div style="max-width:600px; min-width:300px; height:auto; margin:auto">
      <div class="js-video [vimeo, widescreen]">
        <div id="placeholder"></div>
      </div>
    </div>
  </div>
  <div class="item tabs tabs-secondary">
    <a class="tab-item">Description</a>
    <a class="tab-item">Comments</a>
    <a class="tab-item">Related</a>
  </div>
  <div>

  </div>
</ion-content>