<ion-modal-view ng-controller="SearchCtrl">
  <ion-header-bar class="bar-light sideBar">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>

      <form ng-submit="search()">
        <input type="search" placeholder="Search" data-ng-model="query">
      </form>
    </label>
    <button ng-click="closeSearchModal()" class="button button-clear">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
    <div class="item item-divider">
      Channels
    </div>
    <a data-ng-repeat="item in results['channel']" class="item item-thumbnail-left" data-ng-click="launch(video.id, video.title)">
      <img data-ng-src="{{ item.thumbnail }}">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <p>{{item.description}}</p>
    </a>
    <div class="item item-divider">
      Playlists
    </div>
    <a data-ng-repeat="item in results['playlist']" class="item item-thumbnail-left" data-ng-click="launch(video.id, video.title)">
      <img data-ng-src="{{ item.thumbnail }}">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <p>{{item.description}}</p>
    </a>
    <div class="item item-divider">
      Videos
    </div>
    <a data-ng-repeat="item in results['video']" class="item item-thumbnail-left" data-ng-click="launch(item.id, item.title)">
      <img data-ng-src="{{ item.thumbnail }}">
      <h2>{{item.title}}</h2>
      <p>{{item.author}}</p>
      <p>{{item.description}}</p>
    </a>
    </ion-list>

  </ion-content>
</ion-modal-view>